[Desktop Entry]
Type=Action
Tooltip=Open VSCode Here
Name=Open VSCode Here
Profiles=dir-profile;

[X-Action-Profile dir-profile]
MimeTypes=inode/directory
Exec=code %f

