@import "base.rasi"

* {
    lines: 13;
}

#window {
    anchor: south east;
    location: south east;
    y-offset: -55;
    x-offset: -10;
    width: 345;
}

element normal.active, element selected.active, element alternate.active {
    background-color: #363636;
    text-color: #ffffff;
}
