@import "base.rasi"

* {
    lines: 13;
}

#window {
    anchor: north east;
    location: north east;
    y-offset: 45;
    x-offset: -50;
    width: 345;
}

element normal.active, element selected.active, element alternate.active {
    background-color: #363636;
    text-color: #ffffff;
}
