[Desktop Entry]
Name=1password-autostart
Exec=/home/firekind/dotfiles/1password/1password-autostart.sh
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;
Categories=Office;
User=firekind

